<div class="container main-container" [ngClass]="showShadowForMainContent ? 'shadow' : 'no-shadow'">
  <ng-container *ngIf="title">
    <div class="d-flex justify-content-center">
      <p class="main-title">{{title | uppercase}}</p>
    </div>
  </ng-container>
  <ng-container *ngIf="subtitle || continueLabel">
    <div class="d-flex justify-content-between border-line-2 p-10 align-middle" [ngClass]="title ? '' : 'm-t-20'">
      <span class="subtitle">{{subtitle | titlecase}}</span>
      <ng-container *ngIf="continueLabel">
        <button class="btn continue-label btn-primary" (click)="continueEmitter()">
          {{ continueLabel | titlecase}}
        </button>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="productList === undefined || productList.length <= 0">
    <h3 class="d-flex justify-content-center">
      {{messageForNoItems !== undefined ? messageForNoItems : 'Your Shopping Cart is empty.'}}
    </h3>
  </ng-container>
  <ng-container>
    <div class="container m-t-20 ">
      <ng-container *ngFor="let product of productList; let i=index">
        <div class="card products m-t-20" [ngClass]="showShadowForProduct ? 'shadow' : 'no-shadow'">
          <div class="card-body d-flex justify-content-between">
            <div class="d-flex">
              <div>
                <img class="product-image" [src]="product.imgURL" height="150" width="150">
              </div>
              <div class="product-details">
                <p class="product-id">
                  {{product.id}}
                </p>
                <p class="product-name">
                  {{product.name}}
                </p>
                <form>
                  <p>
                    <input [ngModelOptions]="{standalone: true}" type="text" class="qty" [placeholder]="product.selectedItemCount"
                      [(ngModel)]="product.selectedItemCount" numberOnly (keyup)="selectedItemChange($event, product)" />
                    <span class="product-cost">x {{currency}}{{product.costPerItem | number:'0.2'}}</span>
                    <span class="stock" [ngClass]="product.stockStatus === STOCK_STATUS.IN ? 'stock-in':'stock-out'">{{product.stockStatus
                      === STOCK_STATUS.IN ? 'IN STOCK' : 'OUT OF STOCK'}}</span>
                  </p>
                </form>

              </div>
            </div>
            <div class="product-summary my-5">
              <p>
                <span class="product-summary-cost">{{currency}}{{eachProductCost(product) | number:'0.2'}}</span>
                <button type="button" class="close" aria-label="Close" (click)="deleteProduct(i)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </p>

            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="productList !== undefined && productList.length > 0">
    <div class="container d-flex m-t-20 justify-content-end">
      <div class="d-flex">
        <div class="footer-labels">
          SUBTOTAL
        </div>
        <div class="footer-labels">
          {{currency}}{{subTotal | number:'0.2'}}
        </div>
      </div>
    </div>

    <div class="container d-flex m-t-5 justify-content-end">
      <div class="d-flex">
        <div class="footer-labels">
          SHIPPING
        </div>
        <div class="footer-labels">
          {{currency}}{{shippingCost | number: '0.2'}}
        </div>
      </div>
    </div>

    <div class="container d-flex m-t-5 justify-content-end">
      <div class="d-flex">
        <div class="footer-labels">
          TAX
        </div>
        <div class="footer-labels">
          {{currency}}{{totalTax | number:'0.2'}}
        </div>
      </div>
    </div>

    <div class="container d-flex m-t-5 justify-content-end">
      <div class="d-flex">
        <div class="footer-labels-total">
          TOTAL
        </div>
        <div class="footer-labels-total">
          {{currency}}{{totalCost | number:'0.2'}}
        </div>
      </div>
    </div>

    <ng-container *ngIf="checkOutLabel">
      <div class="d-flex justify-content-end p-10 align-middle" [ngClass]="title ? '' : 'm-t-20'">
        <ng-container *ngIf="checkOutLabel">
          <button class="btn checkout-label btn-primary" (click)="checkoutEmitter()">
            {{ checkOutLabel | titlecase}}
          </button>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>